{% extends 'LITReviews/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-4">
  <h2>Ecrire une critique</h2>
  <div class="card mb-3">
    Vous êtes en train de poster en réponse à
    <div class="container mt-4">
      <div class="card mb-3">
        <div class="card-header">
          <p class="card-author"> Ticket - {% if ticket.user.username == request.user.username %} Vous {% else %}
            {{ticket.user.username }}{% endif %}</p>
          <p class="card-date">Date de publication: {{ ticket.time_created|date:"d/m/Y" }}</p>
        </div>
        {% include 'LITReviews/ticket_snippet.html' %}
      </div>
    </div>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% crispy form %}
    </form>
    <form method="POST" action="{% url 'create-review' ticket.id %}">
  </div>
</div>
{% endblock %}