{% extends 'LITReviews/base.html' %}

{% block content %}


  <div class="container mt-4">
    <h2>Ecrire un billet</h2>
    <form method="POST" action="{% url 'create-ticket' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control-file" id="image" name="image">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}


