{% extends 'LITReviews/base.html' %}

{% block content %}

<main class="container">
  <section class="row">
    {% if request.user.is_authenticated %}
    <div class="col-md-6">
      <p>Welcome, {{ request.user.username }}!</p>
    </div>
    {% else %}
    <div class="col-md-6">
      <h2>S'inscrire</h2>
      <a href="{% url 'register' %}" class="btn btn-primary">S'inscrire</a>
    </div>
    <div class="col-md-6">
      <h2>Se connecter</h2>
      {% include 'accounts/login.html' %}
    </div>
  </section>
  {% endif %}

</main>

{% endblock %}