{% extends 'LITReviews/base.html' %}

{% block content %}

  <main>
    <section>
      {% if request.user.is_authenticated %}
      <p>Welcome, {{ request.user.username }}!</p>
      <a href="{% url 'create-ticket' %}"><button>Create Ticket</button></a>
      {% else %}
      <h2>Register</h2>
      <a href="{% url 'register' %}"><button>Register</button></a>
    </section>
    <section>
      <h2>Login</h2>
      {% include 'accounts/login.html' %}
      {% endif %}
    </section>
  </main>

  {% endblock %}