.card-header {
  display: flex;
  justify-content: space-between;
}


.card-img-top {
  max-height: 400px;
  width: auto;
  /* To maintain the image's aspect ratio */
}

.lead {
  float: left;
  margin-left: 20px;
  padding-bottom: 50px;

}

#div_id_rating {
  display: flex;
  margin-bottom: 40px;
}

#div_id_rating div {
  display: inline-flex;
  margin-right: 50px;
  margin-left: 10px;
}

body {
  background-color: #ccc;
}