
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/static/accounts/styles.css">
</head>
<body>
  <header>
    <h1>Welcome to the Home Page</h1>
  </header>

  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
      {% if request.user.is_authenticated %}
      <li>  Welcome, {{ request.user.username }}!</li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li> <a href="{% url 'login' %}">Please log in to access this page</a></li> 
      
      {% endif %}
    </ul>
  </nav>

  <main>
    <section>
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc id aliquet ultricies, nisl nunc tincidunt nunc, id lacinia nunc nunc id nunc.</p>
    </section>
    <section>
      <h2>Our Services</h2>
      <ul>
        <li>Service 1</li>
        <li>Service 2</li>
        <li>Service 3</li>
      </ul>
    </section>

 